<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ShieldSuite">
	
    <parameter name="company" value="Shield" />
    <parameter name="userType" value="lenzadmin" />
    <parameter name="groupNames" value="All" />
     <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"/>
    </listeners>
	<test name="Shield Sanity">
		
		<classes>
			<class name="KloudqTechnologies.tests.AdminTestShield" />
		</classes>
	</test>


	<test name="Lenz Automation Regression">
		
		<classes>	
			<class name="KloudqTechnologies.tests.LenzAutomationAdminTestShield" />
		</classes>
	</test>
</suite> 
